<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<h1>Users</h1>

<a th:href="@{/users/new}">Add new user</a>

<table border="1">
    <thread>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thread>
    <tbody>
    <tr th:each="u : ${users}">
        <td th:text="${u.id}">id</td>
        <td th:text="${u.firstName}">firstName</td>
        <td th:text="${u.lastName}">lastName</td>
        <td th:text="${u.email}">email</td>
        <td>
            <a th:href="@{/users/edit(id=${u.id})}">Edit</a>
            <form th:action="@{/users/delete(id=${u.id})}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>