<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User form</title>
</head>
<body>
<h1>User form</h1>
<form th:action="@{/users/save}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>First name:
        <input type="text" th:field="*{firstName}" />
    </label></br>
    <label>Last name:
        <input type="text" th:field="*{lastName}" />
    </label></br>
    <label>Email:
        <input type="email" th:field="*{email}" />
    </label></br>
    <button type="submit">Save</button>
</form>
<a th:href="@{/users}">Back to list</a>
</body>
</html>